{% extends 'FilmBundle::layout.html.twig' %}

{% block title 'Categories' %}

{% block content %}
    {% for category in categories %}
        <div>
            <a href='{{ path('film_search', {'category': category.id}) }}'>{{ category.title }}</a>
        </div>
        <br/>
    {% endfor %}

    <a href='{{ path('category_create') }}'>Add category</a>
{% endblock %}